# Ad-Hoc Reporting

Utilize your `sqlite3` and `pandas` knowledge to query your database and generate visualizations! 

After completing your report, answer the 4 analytical questions below. Remember that we expect comprehensive numerical detail!

In [61]:
import sqlite3

import pandas as pd 

import seaborn as sns
import matplotlib.pyplot as plt

In [62]:
# TODO: Set up a connection the "Market.db" database
conn = sqlite3.connect("db/Market.db")

# TODO: Set up the cursor
cursor  = conn.cursor()

### Question 1 : Total Products Less than â‚¬10

How many products in our Products table cost less than 10 EUR?

**Hint**: You can apply an aggregate function to an entire table.

In [63]:
# TODO: Write a SQL query which will answer the question above.
cursor.execute("""
SELECT COUNT(ProductName) FROM Products WHERE Price <10 ; 
""" )

rows = cursor.fetchall()
print(rows)

[(11,)]

### Question 2 : Most Frequent Country by Supplier

What is the most common country of origin in our Suppliers table? Sort your output in descending order.

**Hint**: `GROUP BY` can be used to calculate grouped aggregates.

In [64]:
# TODO: Write a SQL query which will answer the question above.
cursor.execute("""
SELECT Count(SupplierID), Country FROM Suppliers GROUP BY (Country) ORDER BY Country DESC;
""")

# TODO: Fetch your list of tuples and print it out
Nrow = cursor.fetchall()
print(Nrow)

[(4, 'USA'), (2, 'UK'), (2, 'Sweden'), (1, 'Spain'), (1, 'Singapore'), (1, 'Norway'), (1, 'Netherlands'), (2, 'Japan'), (2, 'Italy'), (3, 'Germany'), (3, 'France'), (1, 'Finland'), (1, 'Denmark'), (2, 'Canada'), (1, 'Brazil'), (2, 'Australia')]

In [65]:
# TODO: Convert your list of tuples to a dataframe
df = pd.DataFrame(Nrow, columns=['Supplier Count', 'Country'])

# TODO: Generate a visualization on this dataframe
df.head(30)

    Supplier Count      Country
0                4          USA
1                2           UK
2                2       Sweden
3                1        Spain
4                1    Singapore
5                1       Norway
6                1  Netherlands
7                2        Japan
8                2        Italy
9                3      Germany
10               3       France
11               1      Finland
12               1      Denmark
13               2       Canada
14               1       Brazil
15               2    Australia

### Question 3 : Most Frequent Country by Customer

What is the most common country of origin in our Customers table? Sort your output in descending order.

**Hint**: `GROUP BY` can be used to calculate grouped aggregates.

In [96]:
# TODO: Write a SQL query which will answer the question above.
cursor.execute("""
SELECT count(Country), Country FROM Customers GROUP BY Country ORDER BY COUNT(Country) DESC;
""")

# TODO: Fetch your list of tuples and print it out
Arow = cursor.fetchall()
print(Arow)

[(13, 'USA'), (11, 'Germany'), (11, 'France'), (9, 'Brazil'), (7, 'UK'), (5, 'Spain'), (5, 'Mexico'), (4, 'Venezuela'), (3, 'Italy'), (3, 'Canada'), (3, 'Argentina'), (2, 'Switzerland'), (2, 'Sweden'), (2, 'Portugal'), (2, 'Finland'), (2, 'Denmark'), (2, 'Belgium'), (2, 'Austria'), (1, 'Poland'), (1, 'Norway'), (1, 'Ireland')]

In [97]:
# TODO: Convert your list of tuples to a dataframe
df = pd.DataFrame(Arow, columns=['Country Count', 'Country Name'])

# TODO: Generate a visualization on this dataframe
df.head(30)

    Country Count Country Name
0              13          USA
1              11      Germany
2              11       France
3               9       Brazil
4               7           UK
5               5        Spain
6               5       Mexico
7               4    Venezuela
8               3        Italy
9               3       Canada
10              3    Argentina
11              2  Switzerland
12              2       Sweden
13              2     Portugal
14              2      Finland
15              2      Denmark
16              2      Belgium
17              2      Austria
18              1       Poland
19              1       Norway
20              1      Ireland

### Question 4 : Least Popular Products by Quantity

What are the least popular products by order quantity? Limit your output to the bottom 20 products. Sort this table in ascending order and be sure to include the product name in your output and visualizations.

**Hint**: You will have to perform a join to calculate this answer.

In [ ]:
# TODO: Write a SQL query which will answer the question above.
# Least products by order
cursor.execute("""
SELECT count(ProductName), ProductName FROM Products GROUP BY SupplierID ORDER BY ProductName;
""")

# TODO: Fetch your list of tuples and print it out
Brow = cursor.fetchall()
print(Brow)

[(2, 'Boston Crab Meat'), (3, 'Chais'), (4, "Chef Anton's Cajun Seasoning"), (2, 'CÃ´te de Blaye'), (1, 'Escargots de Bourgogne'), (3, 'Geitost'), (2, 'Gnocchi di nonna Alice'), (3, 'Gorgonzola Telino'), (3, "Grandma's Boysenberry Spread"), (1, 'GuaranÃ¡ FantÃ¡stica'), (2, "Gustaf's KnÃ¤ckebrÃ¶d"), (3, 'Inlagd Sill'), (3, 'Konbu'), (3, 'Manjimup Dried Apples'), (3, 'Maxilaku'), (3, 'Mishi Kobe Niku'), (1, 'Nord-Ost Matjeshering'), (3, 'NuNuCa NuÃŸ-Nougat-Creme'), (5, 'Pavlova'), (2, 'Queso Cabrales'), (2, 'Raclette Courdavault'), (5, 'RÃ¶ssle Sauerkraut'), (2, 'RÃ¸gede sild'), (3, 'Sasquatch Ale'), (3, 'Singaporean Hokkien Fried Mee'), (2, "Sirop d'Ã©rable"), (4, 'Teatime Chocolate Biscuits'), (2, 'TourtiÃ¨re'), (2, 'Zaanse koeken')]

In [109]:
# TODO: Convert your list of tuples to a dataframe
df = pd.DataFrame(Brow, columns=['Count','Product' ])

# TODO: Generate a visualization on this dataframe
df.head(20)

    Count                       Product
0       2              Boston Crab Meat
1       3                         Chais
2       4  Chef Anton's Cajun Seasoning
3       2                 CÃ´te de Blaye
4       1        Escargots de Bourgogne
5       3                       Geitost
6       2        Gnocchi di nonna Alice
7       3             Gorgonzola Telino
8       3  Grandma's Boysenberry Spread
9       1            GuaranÃ¡ FantÃ¡stica
10      2           Gustaf's KnÃ¤ckebrÃ¶d
11      3                   Inlagd Sill
12      3                         Konbu
13      3         Manjimup Dried Apples
14      3                      Maxilaku
15      3               Mishi Kobe Niku
16      1         Nord-Ost Matjeshering
17      3       NuNuCa NuÃŸ-Nougat-Creme
18      5                       Pavlova
19      2                Queso Cabrales

### Question 5 : Least Popular Products by Revenue

What are the least popular products by **total revenue** (order quantity * price)? Sort this table in ascending order and be sure to include the product name in your output and visualizations.

**Hint**: You will have to perform a join to calculate this answer.

In [ ]:
# TODO: Write a SQL query which will answer the question above.
...

# TODO: Fetch your list of tuples and print it out
...

In [ ]:
# TODO: Convert your list of tuples to a dataframe
...

# TODO: Generate a visualization on this dataframe
...

### Question 6 : Countries with the Most Orders

Which country's have placed the most orders? For each country, list its' name in your output and visualizations.

**Hint**: You will have to perform a join to calculate this answer.

In [ ]:
# TODO: Write a SQL query which will answer the question above.
...

# TODO: Fetch your list of tuples and print it out
...

In [ ]:
# TODO: Convert your list of tuples to a dataframe
...

# TODO: Generate a visualization on this dataframe
...

### Question 7 : Countries with Customers Who Do Not Order

Which countries have at least one customer who has placed **no** orders? Count up the total number of customers who have placed no orders for each respective country. For each country, list its' name in your output and visualizations.

**Hint**: A join is necessary. We can also check if a column is `NULL` using the `IS` keyword.

In [ ]:
# TODO: Write a SQL query which will answer the question above.
...

# TODO: Fetch your list of tuples and print it out
...

In [ ]:
# TODO: Convert your list of tuples to a dataframe
...

# TODO: Generate a visualization on this dataframe
...

### Question 8 : Most Popular Suppliers

What are the most popular suppliers according to order count? List the supplier names and their number of orders. Sort your output in descending order.

**Hint**: You might need to use a subquery to join more than 2 tables together.

In [ ]:
# TODO: Write a SQL query which will answer the question above.
...

# TODO: Fetch your list of tuples and print it out
...

In [ ]:
# TODO: Convert your list of tuples to a dataframe
...

# TODO: Generate a visualization on this dataframe
...

## Report

Answer the following analytical questions using numerical evidence.

### Question 1

Which countries have the greatest number of customers? How does this correlate with the number of suppliers by country (i.e. do more customers lead to less or more suppliers)? Which evidence supports your answer?

[Answer Here]

### Question 2

What is the least popular product by order quantity? How does this correlate with revenue (i.e. do less popular products by quantity lead to less or more revenue)? Which evidence supports your answer?

[Answer Here]

### Question 3

Which country has the most orders? How does this correlate with the number of customers who do not order (i.e. do countries with more ordering customers have more or less non-ordering customers)? Which evidence supports your answer?

[Answer Here]

### Question 4

Which supplier has the most orders? Which evidence supports your answer?

[Answer Here]